# dependencies
node_modules/

# misc
.npm/
.git/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

*.log

# Development folders and files
*.pyc
.pytest_cache/
__pycache__
dist/
venv*
public
src
scripts
config
.travis.yml
CHANGELOG.md
README.md
