# Packages needed to run the tests.
# Switch into a virtual environment
# pip install -r requirements.txt

chromedriver-binary==74.0.3729.6
dash>=1.0.0
dash-core-components>=1.0.0
dash-html-components>=1.0.0
dash-renderer
ipdb
percy
selenium
flake8
pylint
pytest-dash>=2.1.2
